body {
    margin: 0;
    font-family: 'Source Sans Pro';
}
a {
    text-decoration: none;
    color: #fff;
}

/* header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}
.navbar__logo {
    font-size: 24px;
    color: #fff;
}
.navbar__logo i {
    color: #d49466;
}
.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    padding: 8px 12px;
}
.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}
.navbar__icons {
    list-style: none;
    color: #fff;
    display: flex;
    padding-left: 0;
}
.navbar__icons li {
    padding: 8px 12px;
}
.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toggleBtn {
        display: block;
    }
    .navbar__menu.active, .navbar__icons.active {
        display: flex;
    }
}

/* main */
.title {
    border-bottom: 2px solid #000;
}
.title h1 {
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.content .content__box {
    border: 2px solid red;
}
.content .content__box a {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid red;
}
.content .content__box p {
    text-align: center;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    background-color: #263343;
    width: 100%;
    height: 200px;
}
.footer p {
    color: #fff;
    text-align: center;
}